In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import logging


price_df = pd.read_csv("guitars.csv")
print(price_df)

      manufacturer                           title  price
0    Harley Benton    SC-1000 SBK Progressive Line    175
1    Harley Benton  Electric Guitar Kit Single Cut     87
2    Harley Benton        SC-450 BK Classic Series    123
3    Harley Benton    SC-450 P90 GT Classic Series    132
4    Harley Benton    SC-450Plus HB Vintage Series    158
..             ...                             ...    ...
586            ESP  E-II Eclipse Snow Whit B-Stock  1,939
587        Gretsch  G2210 Streaml. Jr. Jet B-Stock    229
588        Gretsch  G6128T-53 VS Duo Jet B B-Stock  2,399
589            ESP  LTD EC-1000FR Black Sa B-Stock  1,025
590  Harley Benton  SC-200 BK Student Serie Bundle    211

[591 rows x 3 columns]

## Which manufacturer produces the most expensive guitars?

In [2]:
# convert price column to numeric data

price_df['price'] = price_df['price'].str.replace(',', '').astype(int)



print(price_df)

      manufacturer                           title  price
0    Harley Benton    SC-1000 SBK Progressive Line    175
1    Harley Benton  Electric Guitar Kit Single Cut     87
2    Harley Benton        SC-450 BK Classic Series    123
3    Harley Benton    SC-450 P90 GT Classic Series    132
4    Harley Benton    SC-450Plus HB Vintage Series    158
..             ...                             ...    ...
586            ESP  E-II Eclipse Snow Whit B-Stock   1939
587        Gretsch  G2210 Streaml. Jr. Jet B-Stock    229
588        Gretsch  G6128T-53 VS Duo Jet B B-Stock   2399
589            ESP  LTD EC-1000FR Black Sa B-Stock   1025
590  Harley Benton  SC-200 BK Student Serie Bundle    211

[591 rows x 3 columns]

In [3]:
# check price data type

price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  591 non-null    object
 1   title         591 non-null    object
 2   price         591 non-null    int32
dtypes: int32(1), object(2)
memory usage: 11.7+ KB

In [4]:
# list most expensive guitars and least expensive guitars

price_df = price_df.sort_values(['price'], ascending=[False])
print(price_df)

      manufacturer                           title  price
537         Gibson   Les Paul 59 Murphy Lab DB UHA  11519
408         Gibson               Les Paul 59 LB HA  11519
555         Gibson   Les Paul 59 Kindred Burst UHA   8899
307         Gibson   Les Paul 59 Kindred Burst UHA   8899
415         Gibson      Les Paul 59 Lemonburst UHA   8859
..             ...                             ...    ...
378  Harley Benton  SC-450 P90 GT Classic  B-Stock    108
319  Harley Benton      SC-200LH BK Student Series    105
99   Harley Benton        SC-200 BK Student Series     96
1    Harley Benton  Electric Guitar Kit Single Cut     87
433  Harley Benton  SC-200LH BK Student Se B-Stock     86

[591 rows x 3 columns]

In [5]:
# remove title column and show highest prices

price_df.drop('title', axis=1).head(10)

    manufacturer  price
537       Gibson  11519
408       Gibson  11519
555       Gibson   8899
307       Gibson   8899
415       Gibson   8859
437       Gibson   8859
501       Gibson   8595
445       Gibson   8595
448       Gibson   7969
584      Gretsch   7795

In [6]:
# remove title columns and show lowest prices

price_df.drop('title', axis=1).tail(10)

      manufacturer  price
353  Harley Benton    128
164  Harley Benton    123
2    Harley Benton    123
465  Harley Benton    114
12   Harley Benton    114
378  Harley Benton    108
319  Harley Benton    105
99   Harley Benton     96
1    Harley Benton     87
433  Harley Benton     86

In [7]:
#  get the average of dataframe

price_df['price'].mean()

1738.34179357022